<%- include('includes/head'); -%>
<body>
    <%- include('includes/navigation')-%>
    <h1>Wspólnota pokoleń</h1>
    <a href="/admin">
        <img src="images/smile.png" class="icon"/>
    </a>
</body>
</html>