<%- include('includes/head'); -%>
<body>
    <%- include('includes/navigation')-%>
    <h1>Aktualności</h1>
    <div class="post">
        <p>post</p>  
    </div>
    <a href="/admin">
        <img src="images/smile.png" class="icon"/>
    </a>
</body>
</html>