* {
    box-sizing: inherit;
 }
  
 body {
    background: #f4f1e5;
    color: #544738;
    font-family: 'Roboto Slab', sans-serif;
 }
 
 h1 {
     margin: auto;
     text-align: center;
     padding-top: 5%;
 }

 .post {
    -webkit-box-shadow: -2px 1px 71px -20px rgba(0,0,0,0.75);
    -moz-box-shadow: -2px 1px 71px -20px rgba(0,0,0,0.75);
    box-shadow: -2px 1px 71px -20px rgba(0,0,0,0.75);
     text-align: center;
     margin: auto;
     margin-top: 30px;
     border: 1px;
     width: 50%;
     border-radius: 10px;
     background-color: #f4f1e5;
     position: relative;
 }

 .icon { 
     width: 50px;
     height: 50px;
     position: fixed;
    bottom: 5%;
     right: 5%;
 }

 .new_post { 
     margin-top: 30px;
     text-align: center;
 }
 .new_post input{
    margin-top: 15px;
    width: 20%;  
    height: 30px;
    background-color: #f4f1e5;
    border-radius: 10px;
    border: 1px solid black;
    display: block;
    margin: auto;
 }
 .new_post textarea{
    width: 60%;  
    height: 500px;
    font-size: 15px;
    resize: unset;
    background-color: #f4f1e5;
    border-radius: 10px;
    border: 1px solid black;
 }

 .post_description {
     font-size: 20px;
 }

 .post_box {
    margin: auto;
    width: 50%;
    padding: 10px;
 }
 .post_author {
     text-align: right;
     font-weight: bold;
 }

 .img_delete {
     position: absolute;
     top: 0px;
     right: 0px;
     background-color: unset;
}

.no_post_label {
    text-align: center;
    margin-top: 100px;
}

